<h1>Hola</h1>
<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">tipo</th>
            <th scope="col">region</th>
            <th scope="col">sabor</th>
            <th scope="col">altura</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let cafe of cafes;">
            <td>{{ cafe.id }}</td>
            <td>{{ cafe.nombre }}</td>
            <td>{{ cafe.tipo }}</td>
            <td>{{ cafe.region }}</td>
            <td>{{ cafe.sabor }}</td>
            <td>{{ cafe.altura }}</td>
        </tr>
    </tbody>
</table>

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>mdo</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>at</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td colspan="2">Larry the Bird</td>
            <td>twitter</td>
        </tr>
    </tbody>
</table>